extends layout

block content
  div(class="container")
    div(class="pic")
      img(src="images/desk.jpg")
    div(class="blurb")
      h1= title
      p Welcome to #{title}
      p The ultimate in desk shift allocation software!
      a(href="https://github.com/tkidman/shifty") See here for more information
      div(class="divform")
        form(action="/run", method="post", enctype="multipart/form-data")
          input(type="file", name="input")
          input(type="submit", name="submit")
  if roster
    each shiftsByDay in roster.shiftsByDays
      div
        table
          thead
            tr
              th(colspan="3") #{shiftsByDay.formattedDate}
          tbody
            each shift in shiftsByDay.shifts
              tr
                td= shift.timeSpanString()
                if shift.allocatedEmployees[0]
                  td= shift.allocatedEmployees[0].name
                else
                  td None found :(
                td= shift.type
