extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action="/run", method="post", enctype="multipart/form-data")
    input(type="file", name="input")
    input(type="submit", name="submit")
  if roster
    p The roster
    each shiftsByDay in roster.shiftsByDays
      div
        table
          thead
            tr
              th(colspan="3") #{shiftsByDay.formattedDate}
          tbody
            each shift in shiftsByDay.shifts
              tr
                td= shift.timeSpanString()
                if shift.allocatedEmployees[0]
                  td= shift.allocatedEmployees[0].name
                else
                  td None found :(
                td= shift.type
