td.name
  - var worseAllocationsDisplayList = shift.worseAllocationsDisplayList()
  - var hasWarnings = shift.shiftAllocation.warningsList.length > 0
  div(class=hasWarnings ? 'tooltip tooltip-error' : 'tooltip') #{shift.shiftAllocation.name}
    span.tooltiptext
      if (hasWarnings)
        p Warning - there are problems with this allocation
        ul
          each warning in shift.shiftAllocation.warningsList
            li= warning
      if (worseAllocationsDisplayList.length > 0)
        p These are the other people that could work the shift, ordered from best match to worst:
        ul
          each worseAllocationDisplay in worseAllocationsDisplayList
            li= worseAllocationDisplay
      if (shift.onLeaveEmployees.length > 0)
        p These people work at this time but are on leave:
        ul
          each leaveDisplay in shift.employeeLeaveDisplay(shift.onLeaveEmployees)
            li= leaveDisplay
      if (shift.negEmployees.length > 0)
        p These people work at this time but have a neg:
        ul
          each negDisplay in shift.employeeNegsDisplay(shift.negEmployees)
            li= negDisplay
      if (shift.workingShiftAtSameTimeEmployees.length > 0)
        p These people are working a shift at the same time: #{shift.employeeNames(shift.workingShiftAtSameTimeEmployees)}
