td.name
  - var worseAllocationsDisplayList = shift.worseAllocationsDisplayList()
  - var leaveDisplay = shift.employeeLeaveDisplay()
  - var negsDisplay = shift.employeeNegsDisplay()
  - var missingShiftTypesDisplay = shift.employeeMissingShiftTypesDisplay()
  - var hasWarnings = shift.shiftAllocation.warningsList.length > 0
  div(class=hasWarnings ? 'tooltip tooltip-error': 'tooltip') #{shift.shiftAllocation.name}
    span.tooltiptext
      if (hasWarnings)
        p Warning - there are problems with this allocation
        ul
          each warning in shift.shiftAllocation.warningsList
            li= warning
      if (worseAllocationsDisplayList.length > 0)
        p These are the other people that could work the shift, ordered from best match to worst:
        ul
          each worseAllocationDisplay in worseAllocationsDisplayList
            li= worseAllocationDisplay
      if (leaveDisplay.length > 0)
        p These people work at this time but are on leave:
        ul
          each aLeaveDisplay in leaveDisplay
            li= aLeaveDisplay
      if (negsDisplay.length > 0)
        p These people work at this time but have a neg:
        ul
          each negDisplay in negsDisplay
            li= negDisplay
      if (missingShiftTypesDisplay.length > 0)
        p These people work at this time but can't work the shift type:
        ul
          each missingShiftTypeDisplay in missingShiftTypesDisplay
            li= missingShiftTypeDisplay
      if (shift.workingShiftAtSameTimeEmployees.length > 0)
        p These people are working a shift at the same time: #{shift.workingAtSameTimeEmployeeNames()}
      if (shift.excludedEmployees.length > 0)
        p These people are excluded from working the shift: #{shift.excludedEmployeeNames()}
