div#staffSummary.tabcontent
  table
    thead
      tr
        th Name
        th Total hours worked
        th Desk hours
        th Ideal min hours
        th Ideal max hours
        th Desk hours %
        th AAL shifts
    each employee in roster.employees
      tr
        td= employee.name
        td= employee.getTotalHoursWorked()
        td= employee.getStaffSummaryHoursAllocated()
        td= employee.getStaffSummaryIdealMinHours()
        td= employee.getStaffSummaryIdealMaxHours()
        td= employee.getPercentageDeskHours()
        td= employee.getAALShiftCount()
