div#staffSummary.tabcontent
  table
    thead
      tr
        th Name
        th Desk Hours
        th Ideal min hours
        th Ideal max hours
        th AAL shifts
    each employee in roster.employees
      tr
        td= employee.name
        td= employee.getCurrentMinutesAllocatedExcludingBackup() / 60
        td= employee.idealMinMinutes / 60
        td= employee.idealMaxMinutes / 60
        td= employee.getAALShiftCount()
